/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #121212;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
}

/* Content wrapper */
.content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
